@import "../../../styles/_mixins.sass"

.container
  position: absolute
  right: 1rem
  bottom: 1rem

  display: flex
  flex-direction: column
  align-items: flex-end

  font-size: 0.9rem
  color: var(--colors-gray-300)

.title
  display: flex
  align-items: center
  gap: 0.25rem

.message
  padding-right: 0.3rem
  text-align: end
