@use "../styles/mixins" as *

%base
  +neobrutalism
  +themed_var(placeholder-color, var(--colors-gray-700), var(--colors-gray-400))

  padding: 0.5rem 0.5rem
  background: var(--surface2-background)
  color: var(--surface2-foreground)
  outline: none

.single
  @extend %base

  &::placeholder
    color: var(--placeholder-color)

.group
  @extend %base

  +center(flex-y)

  gap: 0.5rem

  > input
    appearance: none
    background: transparent
    border: none
    outline: none
    color: currentColor
    // Firefox is weird
    padding-left: 2px

    &::placeholder
      color: var(--placeholder-color)
