@use "./styles/mixins" as *

*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  background: var(--colors-background)

  --colors-background: var(--colors-background-light)

  @media (prefers-color-scheme: dark)
    &:where(:not([data-light]))
      --colors-background: var(--colors-background-dark)

  [data-dark] &,
  &[data-dark]
    --colors-background: var(--colors-background-dark)

#root
  display: contents

body
  font-family: Inter, sans-serif
  width: 100vw
  height: 100vh
  display: grid
  grid-template-columns: auto 1fr

html
  //// COLORS ////
  --colors-background-light: #FAFAFA
  --colors-background-dark: #2E2E2E

  --colors-primary: var(--colors-primary-400)
  --colors-primary-950: #450F05
  --colors-primary-900: #7F260F
  --colors-primary-800: #9E2A0E
  --colors-primary-700: #C73407
  --colors-primary-600: #F04906
  --colors-primary-500: #FF6E1F
  --colors-primary-400: #FF8637
  --colors-primary-300: #FFB270
  --colors-primary-200: #FFD2A8
  --colors-primary-100: #FFEBD4
  --colors-primary-050: #FFF6ED

  --colors-secondary: var(--colors-secondary-400)
  --colors-secondary-950: #240F66
  --colors-secondary-900: #3E1C96
  --colors-secondary-800: #3E1C96
  --colors-secondary-700: #5927DA
  --colors-secondary-600: #6637EE
  --colors-secondary-500: #7A5BF7
  --colors-secondary-400: #9A8AFB
  --colors-secondary-300: #BCB5FD
  --colors-secondary-200: #D9D6FE
  --colors-secondary-100: #EBE9FE
  --colors-secondary-050: #F4F3FF

  --colors-gray: var(--colors-gray-400)
  --colors-gray-950: #222222
  --colors-gray-900: #3D3D3D
  --colors-gray-800: #454545
  --colors-gray-700: #4F4F4F
  --colors-gray-600: #5D5D5D
  --colors-gray-500: #6D6D6D
  --colors-gray-400: #888888
  --colors-gray-300: #B0B0B0
  --colors-gray-200: #D1D1D1
  --colors-gray-100: #E7E7E7
  --colors-gray-050: #F6F6F6

  --colors-error: var(--colors-error-400)
  --colors-error-950: #4A0717
  --colors-error-900: #851632
  --colors-error-800: #9C1533
  --colors-error-700: #BA1636
  --colors-error-600: #DD2140
  --colors-error-500: #F04257
  --colors-error-400: #F87480
  --colors-error-300: #FBA6AC
  --colors-error-200: #FDCED2
  --colors-error-100: #FEE5E5
  --colors-error-050: #FFF1F1

  --colors-warn: var(--colors-warn-400)
  --colors-warn-950: #3E160A
  --colors-warn-900: #6B2E18
  --colors-warn-800: #7D3816
  --colors-warn-700: #974411
  --colors-warn-600: #BD6211
  --colors-warn-500: #DC8316
  --colors-warn-400: #EB9A24
  --colors-warn-300: #F0B042
  --colors-warn-200: #F7D591
  --colors-warn-100: #FAEBC7
  --colors-warn-050: #FDF7E9

  --colors-success: var(--colors-success-400)
  --colors-success-950: #03301A
  --colors-success-900: #0EAB55
  --colors-success-800: #0F8646
  --colors-success-700: #115632
  --colors-success-600: #12693A
  --colors-success-500: #19CE6B
  --colors-success-400: #48E78F
  --colors-success-300: #80F5B4
  --colors-success-200: #B8FAD4
  --colors-success-100: #DAFEE9
  --colors-success-050: #EFFEF5

  //// SPACING ////
  --radius-sm: 4px
  --radius-md: 8px
  --radius-lg: 12px
  --radius-full: 9999px

body
  //// GLOBAL COMPONENTS ////
  +themed_var(surface-background, var(--colors-primary-050), var(--colors-gray-900))
  +themed_var(surface-foreground, #000, #FFF)

  +themed_var(surface2-background, var(--colors-primary-100), var(--colors-gray-950))
  +themed_var(surface2-foreground, #000, #FFF)
