@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--background-color: #1f2227;
	--border-color: #2c2f34;
}

* {
	margin: 0;
	padding: 0;

	font-family: Inter, sans-serif;
}
